*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100%;
    /*overflow: hidden;*/
}
.wholeBox {
    display: block;
    width: 400px;
    margin: 0px auto;
    top: 50px;
    -webkit-transform: translateY(25%);
    border: 1px solid black;
}
.topHalf {
    display: block;
    width: 100%;
    /*background-image: url(https://s3.amazonaws.com/uploads.hipchat.com/31349/921543/pzK8cBdoxyrm95D/upload.png);*/
    background-size: cover;
    overflow: hidden;
    background-color: blue;
    color: white;
}
.profPic {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding-top: 20px;
}
.profPic img {
    width: 150px;
    border-radius: 50px;
}
.leftArrow {
    padding-right: 30px;
}
.rightArrow {
    padding-left: 30px;
}
.leftArrow, .rightArrow {
    display: inline-block;
    -webkit-transform: translateY(-50%);
}
.leftArrow h1, .rightArrow h1 {
    cursor: pointer;
    font-size: 5em;
}
/******************************/

/******     top text      *****/

/******************************/
 .topText {
    display: block;
    font-size: 0;
    padding-bottom: 10px;
}
.profName {
    display: inline-block;
    width: 70%;
    font-size: 1rem;
    padding-left: 10px;
}
.comments {
    display: inline-block;
    width: 30%;
    text-align: right;
    font-size: 1rem;
    padding-right: 10px;
}
/******************************/

/*****    bottom text     *****/

/******************************/
 .bottomHalf {
    display: block;
    width: 100%;
    font-size: 0;
    color: black;
}
.infoBox {
    display: inline-block;
    width: 70%;
    font-size: 1rem;
}
.hireButton {
    display: inline-block;
    width: 30%;
    font-size: 1.5rem;
    text-align: center;
    line-height: 100%;
    background-color: lightgray;
    /*padding-top: 20px;*/
    -webkit-transform: translateX(-10px);
}

/******************************/

/*****      example       *****/

/******************************/

.example {
	text-align: center;
	display: block;
	    -webkit-transform: translateY(30%);
}